$body-bg                    : #f2f3f6;
$dark                       : #617585;
$navLinkColor               : #31394d;
$primary                    : #629331;
$color1                     : #394158;
$color2                     : #434a64;
$btn-padding-x-lg           : 50px;
$btn-border-width           : 0px;
$h1FontSize                 : 50px;
$h1LetterSpacing            : 2.78px;
$newsletterInputBg          : #546a79;
$badge-font-size            : 14px;
$breadcrumb-divider         : quote(">");
$breadcrumb-bg              : $body-bg;
$breadcrumb-divider-color   : $newsletterInputBg;
$breadcrumb-margin-bottom   : 0;