<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>du-wp</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../assets/css/styles.min.css">
</head>

<body>
    <!-- Start: 1 Row 2 Columns -->
    <div>
        <div class="container">
            <div class="row">
                <div class="col h-25">
                    <!-- Start: Lorem Ipsum 1 Paragraph -->Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dapibus felis et libero scelerisque, sed aliquet nulla tincidunt. Quisque lorem nisl, semper vitae mattis nec, vestibulum nec risus. Sed ut volutpat tortor, ut sodales diam. Integer at tristique turpis. Integer orci leo, fringilla ac aliquet vitae, condimentum non lorem. Duis velit ex, aliquam vel pellentesque et, dictum vitae mauris. Vestibulum commodo luctus tortor eu ultrices. Fusce commodo enim non eros consectetur maximus. Donec venenatis dolor ut vestibulum fermentum. Aliquam malesuada sit amet nulla id imperdiet. Suspendisse maximus purus et ligula maximus, a luctus ante fringilla.

In vitae velit risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus tincidunt venenatis mi quis congue. Cras eu leo nisi. Ut ornare nisi eget sapien dapibus, eu ornare dolor egestas. Donec venenatis neque lacus, nec mollis odio fermentum a. Maecenas at elit sed diam elementum varius mollis vel arcu. Praesent ornare nisl mi, et posuere purus viverra sed. Sed a lacus nec lorem tincidunt condimentum. Nulla eu tellus pulvinar, tristique metus a, sodales nibh. Ut magna nisi, laoreet id lacus non, cursus bibendum tortor. Sed pretium elit erat. In non pretium nulla.
                    <!-- End: Lorem Ipsum 1 Paragraph -->
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 offset-xl-3 text-center h-25">
                    <ul class="nav nav-fill category-menu">
                        <li class="nav-item"><a class="nav-link active" href="#">new</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">popular</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">camo</a></li>
                    </ul>
                </div>
            </div>
            <div class="row pt-5">
                <!-- Start: sidebar -->
                <div class="col-md-6 col-xl-3">
                    <div class="category-filter">
                        <ul class="list-unstyled">
                            <li><a href="#">top sellers</a></li>
                            <li><a href="#">highest ratings</a></li>
                            <li class="active"><a href="#">new releases</a></li>
                            <li><a href="#">sport fit</a></li>
                            <li><a href="#">casual</a></li>
                            <li><a href="#">single color</a></li>
                            <li><a href="#">camo options</a></li>
                        </ul>
                    </div>
                    <!-- Start: price-filter -->
                    <div class="price-filter">
                        <h3>price</h3><small class="text-dark">Min</small><input class="custom-range py-3" type="range"><small class="text-dark">Max</small><input class="custom-range py-3" type="range"></div>
                    <!-- End: price-filter -->
                    <div class="color-filter">
                        <h3>Color</h3>
                        <ul class="list-inline py-3">
                            <li class="list-inline-item"><a href="#"><img src="../assets/img/color-filters/color-one.png"></a></li>
                            <li class="list-inline-item"><a href="#"><img src="../assets/img/color-filters/color-two.png"></a></li>
                            <li class="list-inline-item"><a href="#"><img src="../assets/img/color-filters/color-three.png"></a></li>
                        </ul>
                    </div>
                </div>
                <!-- End: sidebar -->
                <!-- Start: main -->
                <div class="col-md-6 col-xl-9">
                    <div class="d-flex justify-content-between align-items-center"><small class="text-dark">We’ve got <strong>19</strong> products for you</small>
                        <div class="d-flex">
                            <div class="btn-group mr-3" role="group"><button class="btn text-dark" type="button"><i class="fas fa-th"></i></button><button class="btn text-primary" type="button"><i class="fas fa-th-large"></i></button><button class="btn text-dark" type="button"><i class="fas fa-circle"></i></button></div>
                            <div
                                class="dropdown"><button class="btn dropdown-toggle text-dark bg-white rounded-0 p-3 px-4" data-toggle="dropdown" aria-expanded="false" type="button">Popularity&nbsp;</button>
                                <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
                        </div><button class="btn btn-primary text-capitalize rounded-0" type="button"><i class="fas fa-plus mr-2"></i>filter</button></div>
                </div>
                <ul class="list-inline">
                    <li class="list-inline-item"><span class="badge badge-pill badge-primary pr-4 py-2"><a class="text-white text-decoration-none px-2" href="#">
    <span aria-hidden="true">&times;</span>
</a>New</span>
                    </li>
                    <li class="list-inline-item"><span class="badge badge-pill badge-primary pr-4 py-2"><a class="text-white text-decoration-none px-2" href="#">
    <span aria-hidden="true">&times;</span>
</a>$15 - $79</span>
                    </li>
                    <li class="list-inline-item"><span class="badge badge-pill badge-dark p-2 text-capitalize px-3">clear all filters</span></li>
                </ul>
            </div>
            <!-- End: main -->
        </div>
    </div>
    </div>
    <!-- End: 1 Row 2 Columns -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>