<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>du-wp</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../assets/css/styles.min.css">
</head>

<body>
    <!-- Start: 1 Row 1 Column -->
    <div>
        <div class="container">
            <div class="row pt-5">
                <div class="col-md-12 col-xl-3 offset-xl-4">
                    <div class="card item" href="product.html">
                        <ul class="list-unstyled position-absolute">
                            <li><a href="#"><i class="far fa-dot-circle"></i></a></li>
                            <li><a href="#"><i class="far fa-dot-circle"></i></a></li>
                            <li></li>
                        </ul>
                        <div class="card-body d-xl-flex align-items-xl-center"><img class="img-fluid" src="../assets/img/product/DU_Friction_MBSM_angled-1.jpg"></div>
                        <div class="card-footer"><strong class="d-block"><a href="../product.html">Harrison</a></strong><strong class="text-dark d-block">$79</strong><strong class="text-dark d-block"><i class="fa fa-star mr-1 text-warning"></i><i class="fa fa-star mr-1 text-warning"></i><i class="fa fa-star mr-1"></i><i class="fa fa-star mr-1"></i><i class="fa fa-star mr-1"></i>(22)</strong></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End: 1 Row 1 Column -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>