<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>du-wp</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../assets/css/styles.min.css">
</head>

<body>
    <div class="container">
        <!-- Start: jumbo-one -->
        <div class="jumbotron jumbo-one" style="background-image: url('/images/jumbotron-bg/jumbo-one.jpg');">
            <div class="row pt-5">
                <div class="col-md-6 col-xl-5 offset-xl-1">
                    <p class="jumbo-one__top-tagline">polarization</p>
                    <h1 class="display-4 text-capitalize">eliminate glare</h1>
                    <p class="text-capitalize jumbo-one__tagline">improve clarity while hunting or in the outdoors</p><a class="btn btn-primary btn-lg" role="button">shop now</a></div>
                <div class="col-md-6 col-xl-5"><img class="img-fluid pt-5" src="../assets/img/glasses-front/glasses.png"></div>
            </div>
        </div>
        <!-- End: jumbo-one -->
        <!-- Start: jumbo-two -->
        <div class="jumbotron jumbo-two" style="background-image: url('/images/jumbotron-bg/jumbo-two.jpg');">
            <div class="container">
                <div class="row pt-5">
                    <div class="col-md-6 col-xl-5 offset-xl-1"><img class="img-fluid pt-5" src="../assets/img/glasses-front/glasses-two.png"></div>
                    <div class="col-md-6 col-xl-5">
                        <p class="jumbo-two__top-tagline">rubberized finish</p>
                        <h1 class="text-capitalize">for all day comfort</h1>
                        <p class="jumbo-two__tagline">The rubberized temples and nose pads allow for extreme comfort all day.</p><a class="btn btn-primary btn-lg" role="button">show now</a></div>
                </div>
            </div>
        </div>
        <!-- End: jumbo-two -->
        <!-- Start: jumbo-three -->
        <div class="jumbotron jumbo-three" style="background-image: url('/images/jumbotron-bg/jumbo-three.jpg');">
            <div class="container">
                <div class="row py-5">
                    <div class="col-md-6 col-xl-5 offset-xl-1">
                        <p class="jumbo-three__top-tagline">camo</p>
                        <h1 class="text-capitalize">head to toe</h1>
                        <p class="jumbo-three__tagline">Sunglasses covered with the official Mossy Oak Shadow Grass Ducks Unlimited print.&nbsp;<br></p><a class="btn btn-primary btn-lg mb-5" role="button">shop now</a></div>
                    <div class="col-md-6"></div>
                </div>
            </div>
        </div>
        <!-- End: jumbo-three -->
        <!-- Start: jumbo-four -->
        <div class="jumbotron jumbo-four" style="background-image: url('/images/jumbotron-bg/jumbo-four.jpg');">
            <h1><span>Shop</span></h1>
            <p class="jumbo-four__breadcrumb">&nbsp;<span>home</span><i class="fas fa-chevron-right"></i><span>products</span></p>
        </div>
        <!-- End: jumbo-four -->
        <!-- Start: jumbo-five -->
        <div class="jumbotron jumbo-five" style="background-image: url('/images/jumbotron-bg/jumbo-five.jpg');">
            <div class="container">
                <h1>about us</h1>
                <p class="jumbo-five__breadcrumb">DU Eyewear is headquartered in Marietta, GA Family-owned and operated for over 12 years specializing in the manufacturing of eyewear, sunglasses, readers, and cases.</p>
            </div>
        </div>
        <!-- End: jumbo-five -->
        <!-- Start: subjumbo-one -->
        <div class="jumbotron subjumbo" style="background-image: url('/images/sub-jumbotron/sub-jumbotron-one.jpg');">
            <div class="row pb-5">
                <div class="col-md-12 col-xl-8 offset-xl-2 text-center">
                    <h1>purpose &amp; goals</h1>
                    <p>Providing optimal protection for your eyes while enjoying the outdoors and wetlands. From sun up to sun down our frame our created for long lasting comfort.</p>
                </div>
            </div>
        </div>
        <!-- End: subjumbo-one -->
        <!-- Start: subjumbo-two -->
        <div class="jumbotron subjumbo" style="background-image: url('/images/sub-jumbotron/sub-jumbotron-two.jpg');">
            <div class="row">
                <div class="col-md-12 col-xl-7 offset-xl-1">
                    <h1>purpose &amp; goals</h1>
                    <p>Providing optimal protection for your eyes while enjoying the outdoors and wetlands. From sun up to sun down our frame our created for long lasting comfort.</p><button class="btn btn-light btn-lg" type="button">learn more</button></div>
            </div>
        </div>
        <!-- End: subjumbo-two -->
    </div>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>