<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>du-wp</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../assets/css/styles.min.css">
</head>

<body>
    <div class="container">
        <!-- Start: rescue -->
        <div class="rescue">
            <div class="row pt-5 pb-3">
                <div class="col-xl-8 offset-xl-2">
                    <p class="rescue__title">who we are</p>
                    <hr class="rescue__separator">
                    <p class="rescue__subtitle">See the outdoors, protect your eyes, conserve the wetlands.</p>
                </div>
            </div>
            <div class="row">
                <div class="col"><img class="shadow" src="../assets/img/rescue/rescue-one.jpg">
                    <p class="rescue__caption">Designed with the adventurous in mind, DU eyewear is created to protect your eyes while enjoying the outdoors.</p>
                </div>
                <div class="col"><img class="shadow" src="../assets/img/rescue/rescue-two.jpg">
                    <p class="rescue__caption">We believe in saving our wetlands for future generations.</p>
                </div>
                <div class="col"><img class="shadow" src="../assets/img/rescue/rescue-four.jpg">
                    <p class="rescue__caption">To date Ducks Unlimited has saved over 14 million acres of wetlands in North America.</p>
                </div>
            </div>
        </div>
        <!-- End: rescue -->
        <hr>
        <!-- Start: about us -->
        <div class="about-us">
            <div class="row my-5 pt-4">
                <div class="col-xl-5">
                    <h2>Filling the skies with waterfowl today, tomorrow and forever.</h2><img class="img-fluid shadow mt-5" src="../assets/img/rescue/rescue-three.jpg"></div>
                <div class="col">
                    <p class="pb-4">DU Eyewear has donated over 1 million dollars to help save waterfowl habitats and support hundreds of conservation projects to date.&nbsp;</p>
                    <p class="pb-5">With each frame we donate a percentage of the sale to Ducks Unlimited. To date they have saved over 14 millions acres of wetlands. To find more information on Ducks Unlimited conversation effects please visit Ducks.org.</p>
                    <h2>See the outdoors, <br>protect your eyes, <br>conserve the wetlands.</h2>
                    <p class="pt-2">Designed with the adventurous in mind, DU eyewear is created to protect your eyes while enjoying the outdoors. Whether you are in blind hunting, or hiking or boating this product is perfect for the outdoors men.</p>
                </div>
            </div>
            <div class="row pb-5">
                <div class="col">
                    <p class="pt-2">We believe in saving our wetlands for future generations. Every purchase of DU eyewear will benefit conservation efforts by Ducks Unlimited.<br><br>To date Ducks Unlimited has saved over 14 million acres of wetlands in North America.
                        <strong>We are proud to be a part of this with over a 1 million in donations.</strong></p>
                </div>
                <div class="col-xl-5 text-right"><img class="img-fluid" src="../assets/img/rescue/rescue-five.jpg"></div>
            </div>
        </div>
        <!-- End: about us -->
    </div>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>